[submodule "thirdparty/unity"]
	path = thirdparty/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "thirdparty/doxygen-awesome-css"]
	path = thirdparty/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
